In [2]:
from __future__ import print_function 
import numpy as np 
import pandas as pd
'numpy: {}'.format(np.__version__), 'pandas:{}'.format(pd.__version__)

('numpy: 1.14.5', 'pandas:0.23.3')

In [13]:
# The first way is to use dict 

employees = {'age': 25, 'name': 'shawn', 'program language': ['Python', 'JavaScript']}
emp_df = pd.DataFrame(employees)
emp_df

   age   name program language
0   25  shawn           Python
1   25  shawn       JavaScript

In [14]:
# The second ways is to use specific columns and indexs

colums = ['Java', 'Python', 'JavaScript']
dates = pd.date_range('20190101', periods=6)
num_df = pd.DataFrame(data=np.random.randn(6, 3), index=dates, columns=colums)
num_df

                Java    Python  JavaScript
2019-01-01  1.255827  0.734527   -1.434407
2019-01-02  0.295433 -0.409702   -0.852486
2019-01-03  1.054596 -0.912391    0.884968
2019-01-04 -1.178879  0.710679    0.599542
2019-01-05 -0.338092  0.263246   -0.387128
2019-01-06  1.256345 -0.099148   -1.592288

备注：np.random.randn返回的是一个矩阵，第一个参数是row,第二个是column

In [15]:
# The third way is to read files, includes excel, csv, html, json and so on.  take excel for example. 
# Note: first please install xlrd by excuting command 'pip install xlrd'

excel_pd = pd.read_excel('excel_for_pandas_demo.xlsx')
excel_pd

     name  age
0   shawn   29
1  olivia   24

In [4]:
# The forth way is to create dataframe based on the array in numpy

data_arr = np.arange(15).reshape(3, 5)
data_arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [6]:
data_arr.shape

(3, 5)

In [7]:
data_df = pd.DataFrame(data_arr)

In [8]:
data_df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [9]:
# the fifth way is to create dataframe from array which contains specific the rows and columns.
data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])

In [10]:
data

array([['', 'Col1', 'Col2'],
       ['Row1', '1', '2'],
       ['Row2', '3', '4']], dtype='<U4')

In [12]:
data_df = pd.DataFrame(data=data[1:,1:], 
                       index=data[1:,0], 
                       columns=data[0,1:])
data_df

     Col1 Col2
Row1    1    2
Row2    3    4